body {
  padding: 20px;
}

footer {
  text-align: right;
}

.panel-heading {
  color: #285229;
  font-weight: bold;
  font-size: 1.2em;
}

.flex-html-css {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  > * {
    margin-right: 10px;
    flex-basis: 20em;
  }
}

.hljs-selector-pseudo {
  color: #7D3535;
}

@mixin flex-item-bgc {
  &:nth-child(1) {
    background-color: #ffbdbd;
  }
  &:nth-child(2) {
    background-color: #fff6bd;
  }
  &:nth-child(3) {
    background-color: #bdf3ff;
  }
}
@mixin flex-item-height {
  &:nth-child(1) {
    height: 30px;
  }
  &:nth-child(2) {
    height: 40px;
  }
  &:nth-child(3) {
    height: 50px;
  }
}

.output {
  margin-left: 10px;
  > .result {
    //margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  > output > div {
    background-color: #f5f5f5;
  }
}

.flex0 {
  > div {
    @include flex-item-bgc;
  }
}

.flex1 {
  display: flex;
  > div {
    @include flex-item-bgc;
  }
}

.flex2 {
  display: inline-flex;
  > div {
    @include flex-item-bgc;
  }
}

.flex3 {
  display: flex;
  flex-direction: row-reverse;
  > div {
    @include flex-item-bgc;
  }
}

.flex4 {
  display: flex;
  flex-direction: column;
  > div {
    @include flex-item-bgc;
  }
}

.flex5 {
  display: flex;
  flex-direction: column-reverse;
  > div {
    @include flex-item-bgc;
  }
}

.flex6 {
  display: flex;
  justify-content: center;
  > div {
    @include flex-item-bgc;
  }
}

.flex6a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  > div {
    @include flex-item-bgc;
  }
}

.flex7 {
  display: flex;
  justify-content: left;
  > div {
    @include flex-item-bgc;
  }
}

.flex8 {
  display: flex;
  justify-content: space-between;
  > div {
    @include flex-item-bgc;
  }
}

.flex9 {
  display: flex;
  align-items: flex-start;
  > div {
    @include flex-item-bgc;
    @include flex-item-height;
  }
}

.flex10 {
  display: flex;
  align-items: center;
  > div {
    @include flex-item-bgc;
    @include flex-item-height;
  }
}

.flex11 {
  display: flex;
  align-items: center;
  > div {
    @include flex-item-bgc;
    &:nth-child(1) {
      order: 3;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 1;
    }
  }
}

.flex12 {
  display: flex;
  align-items: center;
  > div {
    @include flex-item-bgc;
    &:nth-child(1) {
      order: 2;
    }
    &:nth-child(2) {
      order: 3;
    }
    &:nth-child(3) {
      order: 1;
    }
  }
}

.flex13 {
  display: flex;
  > div {
    @include flex-item-bgc;
    &:nth-child(1) {
      flex-grow: 1;
    }
    &:nth-child(2) {
      flex-grow: 1;
    }
    &:nth-child(3) {
      flex-grow: 1;
    }
  }
}

.flex14 {
  display: flex;
  > div {
    @include flex-item-bgc;
    &:nth-child(1) {
      flex-grow: .1;
    }
    &:nth-child(2) {
      flex-grow: .2;
    }
    &:nth-child(3) {
      flex-grow: .3;
    }
  }
}

.flex15 {
  display: flex;
  > div {
    @include flex-item-bgc;
    &:nth-child(1) {
      flex-grow: 1;
    }
    &:nth-child(2) {
      flex-grow: 2;
    }
    &:nth-child(3) {
      flex-grow: 3;
    }
  }
}

.flex16 {
  display: flex;
  > div {
    @include flex-item-bgc;
    &:nth-child(1) {
      flex-grow: .3;
    }
    &:nth-child(2) {
      flex-grow: .3;
    }
    &:nth-child(3) {
      flex-grow: .6;
    }
  }
}
